@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #fafafa;
  /* zinc-50 */
  --foreground: #18181b;
  /* zinc-900 */
}

.dark {
  --background: #09090b;
  /* zinc-950 */
  --foreground: #fafafa;
  /* zinc-50 */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans), sans-serif;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}